@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    background: #fbdcdc;
    height: 100%;
    margin: 0;
}

.birthday-card {
position: relative;
width: 300px;
height: 395px;
border: 10px solid #ef5050;
margin: 60px auto 0 auto;
box-shadow: inset 10px 0px 15px 0px rgba(0,0,0,0.1);
background-image: linear-gradient(to bottom, rgba(235, 182, 182, 0.3)
,rgba(255,255,255,0.3))
,url("https://i.pinimg.com/1200x/08/14/47/081447c965a2fb0a912c1da097fc91f4.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.text {
    width: 80%;
    height: 80%;
    margin: auto;
    font-family: 'Amatic SC', cursive !important;
    
    >p {
        font-size: 1.8em;
        color: #2b0321;
        list-style: 1.4;
       /* font-style: italic; */
        text-align: center;
        margin: 10px auto 0 auto;
    }
    .title {
    font-size: 1.5em;
    margin: 30px auto 30px auto;
    }
}

.cover-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -10px 0 0 -10px;
    border: 10px solid #ef5050;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;

img {
    box-shadow: 0px 6px 11px 7px rgba(0,0,0,0.22);
    border-radius: 5px;
}
}

.cover-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #ef5050;
    background-color: #ef5050;
    margin: -10px 0px 0 -10px;
    backface-visibility: visible;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transform: perspective(800px) rotateY(0deg);
    transition: all 0.8s ease-in-out;
    overflow: hidden;

    img {
        transform: rotateY(170deg);
    }
}  

.birthday-card:hover {
.cover-outer {
    transform: perspective(800px) rotateY(-170deg);
}
.cover-inner {
    transform: perspective(800px) rotateY(-170deg);
    box-shadow: 7px 0 5px 0 rgba(0,0,0,0.3),
    inset 2px 0px 15px 0px rgba(0,0,0,0.1);
}
}
    
.sunflower {
    font-family: 'Indie Flower', cursive !important;
    color: #181e01;
    font-size: 0.8em;
}

.hb {
    font-size: 1.1em;
    color: #2b0f38e8;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hb2 {
    font-size: 1.1em;
    color: #2d0f2aef;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* https://images.unsplash.com/photo-1527481138388-31827a7c94d5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmFpbmJvdyUyMGNha2V8ZW58MHx8MHx8fDA%3D&w=1000&q=80 */